
{% extends "layout/base.html" %}


{% block start %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />


<div class="container mt-2">

    <button class="btn btn-sm btn-primary my-2" id="add-module">Add Group</button>

    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>

      </div>
  
</div>
<!-- Delete -->
<!-- <div class="modal fade" id="DelModel" tabindex="-1" role="dialog" aria-labelledby="DelModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="post">
        {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="DelModelTitle">Modal Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                        <div class="form-group">
                            <label for="content">Are you sure</label>
                            <input type="hidden" name="type" value="DELETE">
                            <input type="hidden" name="delid"  >
                        </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>
</div> -->

<!-- Add-Edit -->
<div class="modal fade" id="AddEditModel" tabindex="-1" role="dialog" aria-labelledby="AddEditModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" method="post" id="AddEditForm">
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="AddEditTitle">Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="msg"></div>            
                <div class="form-group">
                    <label for="module">Group</label>
                    <input type="text" class="form-control" required name="group" id="group"  placeholder="Enter label">
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save </button>
            </div>
      </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
$(document).ready( function () {
    loadData()
})

    $('#AddEditForm').submit(function(e){
        e.preventDefault()
        console.log($(this).serializeArray())
        addEditModel('POST',$(this).serialize())
    })

    $('#add-module').click(function(){
        addEditModel('GET',{})
    })

    function addEditModel(method,post={},moduleId){
        $.ajax({
            type: method,
            url: "{{ settings.BASE_URL }}permission/add",
            headers: {'X-CSRFToken': csrftoken},
            data:post,
            success: function (response) {
                if(response.success && method=='GET'){
                    $('#AddEditModel').modal('show'); 
                    if(moduleId){
                        $('#module_id').val(moduleId)
                    }
                }else if(response.success && method=='POST'){
                    $('#AddEditModel').modal('hide'); 
                    loadData()
                }
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    }
  


function loadData(){
    let table = $('table.display')
    if($.fn.dataTable.isDataTable(table)) {
        table.DataTable().destroy();
    }
    var pgno = 0;
    $('table.display').DataTable({
            "processing" : true,
			"serverSide" : true,
            pageLength : 8,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}/admin/administration/permission",
                    method:"POST",
                    headers: {'X-CSRFToken': csrftoken},
                    data:{start:pgno, length:8,search:search}
                }).then ( function( json, textStatus, jqXHR ) {
                     callback(json);
                     console.log(json)
                });
            },

            // pageLength: 10,
            columns: [
                { data: "id" },
                { data: "roleName" },
                //{ data: "moduleName" },
                // { data: "permission" },
                // { data: "codename" },
                { data: "action" },
                
            ],
        
    });
}


// function delModel(mid){
//     $('#DelModel').modal('show');
//     $('[name="delid"]').val(mid);
    
// }
</script>
</div>

{% endblock %}