
{% extends "layout/base.html" %}


{% block start %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<div class="container mt-2">
    {% if parentId %}
        <!-- <a class="btn btn-sm btn-primary" href="{{ settings.BASE_URL }}/dashboard/administration/module/add/{{parentId}}" style="margin-block: 20px;">Add Module</a> -->
        <button class="btn btn-sm btn-primary my-2" id="add-module">Add module</button>
    {% else %}
        <button class="btn btn-sm btn-primary my-2" id="add-module">Add module</button>
        <!-- <a class="btn btn-sm btn-primary" href="{{ settings.BASE_URL }}/dashboard/administration/module/add" style="margin-block: 20px;">Add Module</a> -->
    {% endif %}
    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Module</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>

      </div>
  
</div>

<!-- Add-Edit -->
<div class="modal fade" id="AddEditModel" tabindex="-1" role="dialog" aria-labelledby="AddEditModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" method="post" action="{{ settings.BASE_URL }}add/{{parentId}}" id="AddEditForm">
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="AddEditTitle">Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="msg"></div>
                <input type="hidden" name="parent_id" id="parent_id" value="{{parentId}}" />             
                <input type="hidden" name="module_id" id="module_id" value="" />             
                <div class="form-group">
                    <label for="module">Module</label>
                    <input type="text" class="form-control" required name="module" id="module"  placeholder="Enter label">
                </div>
                <div class="form-group">
                    <label for="moduleType">Select Module Type</label>
                    <select class="form-select" name="moduleType" id="moduleType" required>
                        <option value="1" selected>Folder</option>
                        <option value="2" >File</option>
                    </select>
                </div>
                <div class="form-group" id="url-container">
                    <!-- <label for="url">Enter url</label>
                    <input type="text" class="form-control" name="url" required placeholder="Enter url" /> -->
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save </button>
            </div>
      </form>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $(document).ready( function () {
        loadData()
    })

    $('#AddEditForm').submit(function(e){
        e.preventDefault()
        console.log($(this).serializeArray())
        addEditModel('POST',$(this).serialize())
    })
  
    
    function loadData(){
        let table = $('table.display')
        if($.fn.dataTable.isDataTable(table)) {
            table.DataTable().destroy();
        }
        var pgno = 0;
        $('table.display').DataTable({
            "processing" : true,
			"serverSide" : true,
            pageLength : 4,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}/admin/administration/module/{{parentId}}",
                    method:"POST",
                    headers: {'X-CSRFToken': csrftoken},
                    data:{start:pgno, length:4,search:search}
                }).then ( function( json, textStatus, jqXHR ) {
                    console.log(json)
                     callback(json);
                });
            },
            // pageLength: 10,
            columns: [
                { data: "id" },
                { data: "module" },
                { data: "action" },
                
            ],
         
        });
    }

    $('#moduleType').on('change',function(){
        if($(this).val()==2){
         $('#url-container').html(`
            <label for="url">Enter url</label>
            <input type="text" class="form-control" name="url" placeholder="Enter url">
         `)
        }else{
            $('#url-container').html('')
        }
    })
    $('#add-module').click(function(){
        addEditModel('GET',{})
    })
    
    function addEditModel(method,post={},moduleId){
        $.ajax({
            type: method,
            url: "{{ settings.BASE_URL }}add/{{parentId}}",
            headers: {'X-CSRFToken': csrftoken},
            data:post,
            success: function (response) {
                if(response.success && method=='GET'){
                    $('#AddEditModel').modal('show'); 
                    if(moduleId){
                        $('#module_id').val(moduleId)
                    }
                }else if(response.success && method=='POST'){
                    $('#AddEditModel').modal('hide'); 
                    loadData()
                }
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    }

    function editModel(id,module,parent,moduleType){      
        $.ajax({
            type: 'POST',
            url: "{{ settings.BASE_URL }}/dashboard/module/edit/"+id,
            headers: {'X-CSRFToken': csrftoken},
            data: {type:'EDIT'},
            success: function (response) {
                if(response.Success){
                    response.data.forEach(ele=>{
                        $('#EditModel').modal('show');
                        $('[name="editid"]').val(id);
                        $('[name="module"]').val(ele.module);
                        $('#moduleType').html(`
                            <option value="1" ${(ele.moduleType==1) ? 'selected':''}>File</option>
                            <option value="2" ${(ele.moduleType==2) ? 'selected':''}>Folder</option>
                        `)
                        
                    })
                   
                }
                
                
                
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
       
        // $.ajax({
        //     type: 'GET',
        //     url: "{% url 'module-list' %}",
        //     headers: {'X-CSRFToken': csrftoken},
        //     success: function (response) {
        //         if(response.permission.length){
        //             if(response.permission.includes("edit")){
        //                 $('#EditModel').modal('show');
        //                 $('[name="editid"]').val(id);
        //                 $('[name="module"]').val(module);
        //                 $('#moduleType').html(`
        //                     <option value="1" ${(moduleType==1) ? 'selected':''}>File</option>
        //                     <option value="2" ${(moduleType==2) ? 'selected':''}>Folder</option>
        //                 `)
        //                 let opt = '<option value="">select parents</option>'
        //                 response.data.forEach(ele=>{
        //                     opt +=`<option value="${ele.id}" ${(ele.id ==parent) ? 'selected':'' } >${ele.module}</option>`
        //                 })
        //                 $('#parent').html(opt)
        //             }else{
        //               alert('You dont have permission to edit!')
        //             }
                    
        //         }
                
                
        //     },
        //     error: function (response) {
        //         // alert the error if any error occured
        //         alert(response["responseJSON"]["error"]);
        //     }
        // })
    }

    function delModel(id){
        $('#DelModel').modal('show');
        $('[name="delid"]').val(id);
    }

    $("#EditForm").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        console.log(serializedData)
        $.ajax({
            type: 'POST',
            url: "{% url 'module' %}",
            headers: {'X-CSRFToken': csrftoken},
            data: serializedData,
            success: function (response) {
                console.log(response)
                if(response.success){
                    $('#EditModel').modal('hide');
                    $('.msg').html('')
                    $('table.display').DataTable().clear().destroy();
                    loadData()
                }else{
                   $('.msg').html(`<div class="alert alert-danger" role="alert">${response.msg}.</div>`)
                }
                // $("#EditModel").trigger('reset');
                
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

</script>

{% endblock %}