
{% extends "layout/base.html" %}


{% block start %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />


<div class="container mt-2">
    
    <form class="row" action="{{ action }}" method="post">
        {% csrf_token %}
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name" value="{{movie.name}}" placeholder="Enter name">
            </div>
        </div>
        
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="rate">Rate</label>
                <input type="text" class="form-control" name="rate" value="{{movie.rate}}" placeholder="Enter rate">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" name="size" value="{{movie.size}}" placeholder="Enter size">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" class="form-control" name="genre" value="{{movie.genre}}" placeholder="Enter genre">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lang">Lang</label>
                <input type="text" class="form-control" name="lang" value="{{movie.lang}}" placeholder="Enter language">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-check mt-4">
                <input class="form-check-input" name="status" type="checkbox" {% if movie.status %} checked {% endif %} id="active" value="1">
                <label class="form-check-label" for="active">
                    Active
                </label>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="image">image</label>
                <input type="text" class="form-control" name="image" value="{{movie.image}}"  placeholder="Enter image">
                <img src="{{movie.image}}" class="mt-1" width="100" />
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="story">Story</label>
                <textarea class="form-control" name="story" placeholder="Write story..." rows="3">{{movie.story}}</textarea>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
        
        
        
        
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

</div>

{% endblock %}