{% extends "layout/movie.html" %}


{% block start %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<style>
  .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
  }
  .replay, .more{
    cursor: pointer;
  }

</style>

    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-8 ">
            <div class="card" >
                <div class="card-header d-flex justify-content-center">
                    <img class="card-img-top" style="max-width:400px" src="{{post.image}}" alt="Card image cap">
                </div>
                
                <div class="card-body">
                  <p class="card-text">{{post.name}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Rate:</strong><span class="mx-2">{{post.rate}}</span></li>
                  <li class="list-group-item"><strong>Genre:</strong><span class="mx-2">{{post.genre}}</span></li>
                  <li class="list-group-item"><strong>Language:</strong><span class="mx-2">{{post.lang}}</span></li>
                  <li class="list-group-item"><strong>Film Story:</strong><span class="mx-2">{{post.story}}</span></li>
                  <li class="list-group-item d-flex justify-content-center">
                    <img class="card-img-top" style="max-width:800px" src="https://1.bp.blogspot.com/-t77W_ET6W9E/YM1zuddffgI/AAAAAAAAAXw/TE8_B96aTEMivVHjHYuS39yKxDCnwEL2gCLcBGAsYHQ/s2048/onward%2Bscr.png" alt="Card image cap">
                  </li>
                </ul>

                <div class="card-body d-flex justify-content-center">
                  <a href="#" class="btn btn-primary mx-2">Donload 480P</a>
                  <a href="#" class="btn btn-info mx-2">Donload 780P</a>
                </div>
            </div>
          </div>
      

          <div class="col-md-12 col-sm-12 col-lg-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-lg-12">
                    <div class="card float-left my-2">
                      <div class="row ">
                        <div class="col-7 ">
                          <div class="card-block">
                            
                            <p>Wetgple text to build your own card.</p>
                            
                            <a href="#" class="btn btn-primary btn-sm">Read More</a>
                          </div>
                        </div>
                  
                        <div class="col-5">
                          <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-lg-12">
                    <div class="card float-right my-2">
                      <div class="row ">
                        <div class="col-5">
                            <img class="d-block w-100" src="https://picsum.photos/150?image=641" alt="">
                        </div>
                        <div class="col-7">
                          <div class="card-block">
                            
                            <p>Wetgple text to build your own card.</p>
                            
                            <a href="#" class="btn btn-primary btn-sm ">Read More</a>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>     
          </div>
       </div>
       <div class="row" >
        
        <div class="col-md-12 col-sm-12 col-lg-8" id="comments"></div>
    
       </div> 
 
    </div>
   
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
<script>
  $(document).ready(function(){
    $('#comments').append(`
    <form class="form-group comment-form">
      <label class="form-label">Comments</label> 
      <textarea class="form-control" name="message" placeholder="Message"></textarea>
      <button class="btn btn-sm btn-success mt-1" type="submit">send</button>
    </form>
    `)
    $(document).on('click','.replay',function(e){
        $('#comments').find('.replay-form').remove()
        let parent = $(e.target).attr('data-comment')
        $(e.target.parentNode.parentNode).after(`
          <form class="form-group comment-form replay-form">
            <label class="form-label">Message</label> 
            <input type="hidden" name="parent" value="${parent}" />
            <textarea class="form-control" name="message" placeholder="Message"></textarea>
            <button class="btn btn-sm btn-success mt-1" type="submit">send</button>
          </form>
        `)
    })

    $(document).on('click','.more',function(e){
      let parent = $(e.target).attr('data-comment')
      let index = $(e.target).attr('data-index')
      let more = $(e.target).attr('data-more')
      let length = (more >= 3 ) ? $(e.target).attr('data-length') : more
      let startIndex = parseInt(index)+parseInt(length)
      let moreComment = (more > startIndex) ? (more-startIndex) : 0
      fetchComments(3,index,length,parent)
      $(e.target).attr('data-index',startIndex)
      if(moreComment==0){
        $(e.target).remove()
      }else{
        $(e.target).html(`More(${moreComment})`)
      }
      
    })
    fetchComments(3)

  })

 function fetchComments(post,idx=0,length=3,parent=''){
    $.ajax({
      type: 'GET',
      url: "{{ settings.BASE_URL }}/commentList/"+post+"?parent="+parent+"&index="+idx+"&length="+length,
      headers: {'X-CSRFToken': csrftoken},
      success: function (response) {
          if(response.Success){
            let html = ''
            response.Comments?.forEach(comment => {
              html +=`<div class="comment ${(parent) ? 'ml-4' : ''}" id="comment${comment.id}">
                          <div class="card mb-2" id="card${comment.id}">
                            <div class="card-body p-2">
                              <h6 class="card-title mb-0">${comment.user}</h6>
                              <small class="card-subtitle mb-2 text-muted">5 hours ago</small>
                              <p class="card-text mb-2">${comment.msg}</p>
                              <small class="card-link replay mr-2" 
                              data-parent="${comment.parent}" 
                              data-comment="${comment.id}" 
                              data-user="${comment.user_id}" >Replay</small>`
                              if(comment.more){
                                html +=`<small  class="card-link ml-1 more" 
                                  data-comment="${comment.id}" data-index="${idx}"  
                                  data-more="${comment.more}"
                                  data-length="${length}">More(${comment.more})
                                </small>`
                              }
                              
                    html +=`</div>
                          </div>
                        </div>`
            });
            if(parent){
              $(document).find('#card'+parent).after(html)
            }else{
              $('#comments').append(html)
            }
            
          } 
      },
      error: function (response) {
          alert(response["responseJSON"]["error"]);
      }
    })

  }

 $(document).on('submit','.comment-form',function(e){
   e.preventDefault()
   let self = $(this)
   let post = $(this).serializeArray()
   let parent = post.find(function(item){
      if(item.name=='parent'){
        return item
      }
   })
   $.ajax({
      type: 'POST',
      data:post,
      url: "{{ settings.BASE_URL }}/commentAdd/"+'3',
      headers: {'X-CSRFToken': csrftoken},
      success: function (response) {
          if(response.Success){
            if(!response.Auth){
              window.location.href = "/login/"
            }else{
              
              let comment = response.Comment
              let html=`<div class="comment ${(comment.parent) ? 'ml-4' : ''}" id="comment${comment.id}">
                            <div class="card mb-2">
                              <div class="card-body p-2">
                                <h6 class="card-title mb-0">${comment.user}</h6>
                                <small class="card-subtitle mb-2 text-muted">5 hours ago</small>
                                <p class="card-text mb-2">${comment.msg}</p>
                                <small class="card-link replay mr-2" 
                                data-parent="${comment.parent}" 
                                data-comment="${comment.id}" 
                                data-user="${comment.user_id}" >Replay</small>`
                                if(comment.more){
                                  html +=`<small  class="card-link ml-1 more" 
                                    data-comment="${comment.id}" data-index="${idx}"  
                                    data-more="${comment.more}"
                                    data-length="${length}">More(${comment.more})
                                  </small>`
                                }
                                
                    html +=`</div>
                          </div>
                        </div>`
              if(self.hasClass('replay-form')){
                if(parent){
                  $('#comment'+parent.value).append(html)
                }
                self.remove()
              }else{
                $('#comments').append(html)
              }
                    
            }
          }
      },
      error: function (response) {
          alert(response["responseJSON"]["error"]);
      }
    })
 })

</script>


{% endblock %}