
{% extends "layout/base.html" %}


{% block start %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />



<div class="container mt-2">
    <button  class="btn btn-primary my-2">Add Trand</button>
    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Rate</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>

      </div>
  
</div>
<!-- Delete -->
<div class="modal fade" id="DelModel" tabindex="-1" role="dialog" aria-labelledby="DelModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="post">
        {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="DelModelTitle">Modal Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                        <div class="form-group">
                            <label for="content">Are you sure</label>
                            <input type="hidden" name="type" value="Delete">
                            <input type="hidden" name="delid"  >
                        </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $(document).ready( function () {
        loadData()
    })
    function loadData(){
        var pgno = 0;
        $('table.display').DataTable({
            "processing" : true,
			"serverSide" : true,
            pageLength : 4,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}",
                    method:"POST",
                    headers: {'X-CSRFToken': csrftoken},
                    data:{start:pgno, length:4,search:search,type:'View'}
                }).then ( function( json, textStatus, jqXHR ) {
                    console.log(json)
                    callback(json);
                });
            },
            // pageLength: 10,
            columns: [
                { data: "id" },
                { data: "name" },
                { data: "image" },
                { data: "rate" },
                { data: "action" },
                
            ],
         
        });
    }
   
    function delModel(id){
        $('#DelModel').modal('show');
        $('[name="delid"]').val(id);
    }
    function changeStatus(id,status){
     
        $.ajax({
            type: 'POST',
            url: "{{ settings.BASE_URL }}/dashboard/movie/posts/"+id,
            headers: {'X-CSRFToken': csrftoken},
            data: {type:'Edit',status:status},
            success: function (response) {
                
                if(response.Success){
                    $('table.display').DataTable().clear().destroy();
                    loadData()
                }
                
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
       
    }

</script>

{% endblock %}